{% extends 'AnnexTenantBundle::base.html.twig' %}

{% block heading %}My bills{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-12">
            <h4>Stored cards</h4>
            {% if tenant.cards|length > 0 %}

            {% else %}
                <div class="alert">
                    You don't have any cards yet.
                </div>
            {% endif %}
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h4>Bills</h4>
            {% if bills|length > 0 %}
            <table id="tbl-users" class="table table-hover table-striped">
                <thead>
                <th>Reference</th>
                <th>Date</th>
                <th>Amount</th>
                </thead>
                {% for bill in bills %}
                    <tr>
                        <td>{{ bill.id }}</td>
                        <td>{{ bill.date }}</td>
                        <td>{{ bill.amount }}</td>
                    </tr>
                {% endfor %}
            </table>
            {% else %}
                <div class="alert">
                    You don't have any bills yet.
                </div>
            {% endif %}
        </div>
    </div>

{% endblock %}

{% block stylesheets %}

{% endblock %}
