{% extends 'AnnexTenantBundle::base.html.twig' %}

{% block heading %}Welcome{% endblock %}

{% block content %}
    <p>
        Dashboard content
    </p>
    {% for plan in plans %}
        <div>
            {{ plan.name }}
        </div>
    {% endfor %}
{% endblock %}

{% block stylesheets %}

{% endblock %}
