{% extends 'AnnexTenantBundle::base.html.twig' %}

{% block heading %}Welcome back{% endblock %}

{% block content %}
    <p>
        Please <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
    </p>
{% endblock %}

{% block stylesheets %}

{% endblock %}
