{% extends 'AnnexTenantBundle::base.html.twig' %}

{% block heading %}Welcome{% endblock %}

{% block content %}
    <p>
        Dashboard content
    </p>
{% endblock %}

{% block stylesheets %}

{% endblock %}
