{% extends 'AnnexTenantBundle::themes/template.html.twig' %}

{% block heading %}Welcome{% endblock %}

{% block content %}
    <p>
        Dashboard
    </p>
{% endblock %}

{% block stylesheets %}

{% endblock %}
