{% extends 'AnnexTenantBundle::base.html.twig' %}

{% block heading %}Welcome back{% endblock %}

{% block content %}
    <p>
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            You are logged in as {{ app.user.firstName }} {{ app.user.lastName }}.
        {% else %}
            Please <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
        {% endif %}
    </p>
{% endblock %}

{% block stylesheets %}

{% endblock %}
