{% extends 'base.html.twig' %}

{% block content %}

    <div style="width: 242px; height: 102px; border: 1px solid #CCC; padding: 10px;">
        <img class="hidden-xs" src="/images/annex.png" style="width:80px; height: 80px; float: left">
        <h4 style="font-size: 24px;margin-left: 90px;margin-top: 24px;color: #6c7d4f;padding-bottom: 0px;margin-bottom: -3px;">
            Zendesk
        </h4>
        <span style="margin-left: 10px;margin-bottom: 10px;margin-top: -10px;color: #bbb;">
            By Annex Apps
        </span>
    </div>

{% endblock %}

{% block stylesheets %}

{% endblock %}
