{% extends 'themes/user.html.twig' %}

{% block heading %}You've not got that app installed{% endblock %}

{% block content %}
    <p>Please install from within Brightpearl</p>
{% endblock %}

{% block stylesheets %}

{% endblock %}
