{% extends 'base.html.twig' %}

{% block heading %}You've not got this app installed{% endblock %}

{% block content %}
    <p>Please install this app from within Brightpearl and then try again.</p>
{% endblock %}

{% block stylesheets %}{% endblock %}
