{% extends 'AnnexTenantBundle::themes/template.html.twig' %}

{% block heading %}Thanks!{% endblock %}

{% block content %}

    {#<div class="alert alert-success">We've got your details.</div>#}

    <p>We'll be in touch shortly with your account details.</p>

{% endblock %}

{% block stylesheets %}

{% endblock %}
