<ul class="nav" id="side-menu" style="margin-top:40px;">
    <li>
        <a href="{{ path('admin_home') }}">Home</a>
    </li>
    <li>
        <a href="{{ path('settings') }}">Settings</a>
    </li>
    <li>
        <a href="{{ path('admin_billing') }}">Billing</a>
    </li>
    <li>
        <a href="{{ path('user_list') }}">Users</a>
    </li>
</ul>