<ul class="nav" id="side-menu" style="margin-top:40px;">
    <li>
        <a href="{{ path('account_settings') }}">Settings</a>
    </li>
    <li>
        <a href="{{ path('account_billing') }}">Billing</a>
    </li>
    <li>
        <a href="{{ path('account_users') }}">Users</a>
    </li>
</ul>