<ul class="nav" id="side-menu" style="margin-top:40px;">
    <li>
        <a href="{{ path('plans') }}">View plans / features</a>
    </li>
    <li>
        <a href="{{ path('signup') }}">Create an account</a>
    </li>
</ul>
<br>
<p style="padding-left: 15px; font-weight: bold">
    FREE 14 day trial
</p>
<p style="padding-left: 15px;" class="small">
    You'll get a fully-featured trial account to use for 14 days<br><br>
    When your trial expires, you'll need to choose a pay plan and enter card details to begin monthly billing.
</p>