<div style="margin-top:100px">
    <h4>What does beta mean?</h4>
    <p class="small">
        While an app is in beta, we are working with early adopters to test the resilience and performance,
        as well as iterating the design and functionality more than we would be when the app is in general release.
        While apps are in beta, we reserve the right to change functionality without notice, and,
        if the app is proving to be unviable for any reason, we reserve the right to withdraw service.
    </p>
</div>