<div class="row" id="billing-faqs">
    <div class="col-md-12">
        <h4>Billing FAQs</h4>
        <ul>
            <li>
                <h5>Upgrades</h5>
                When you change to a higher priced plan during a billing period,
                the unused amount left on the previous, lower plan will be credited to your account.
                The new, higher plan will be pro-rated based on the remaining time until your next bill is due.
                These changes will show on your next monthly invoice.
            </li>
            <li>
                <h5>Downgrades</h5>
                Changing to a lower priced plan will apply a credit for the unused time on the higher plan.
                This credit will be applied to your next invoice.
            </li>
            <li>
                <h5>I don't have a credit or debit card</h5>
                We do need you to pay by credit card, since it allows us to automate the billing process
                and focus our efforts on providing you with the best apps we can.
            </li>
            <li>
                <h5>How do I cancel?</h5>
                If you want to cancel your subscription, click the link below.
                This will remove all record of your card details and deactivate your app.
                No refunds will be made.
            </li>
            <li>
                <h5>Is it safe?</h5>
                Yes. We use Stripe.com for credit card billing, and don't ever see or process your card details.
            </li>
        </ul>
    </div>
</div>