<h4>Simple, sensible billing</h4>
<p class="small">
    Each of our Apps has a range of pay plans. Some have a free plan.
    If you're on a paid plan, then we'll charge the plan amount to your card at the start of each month.
    If you have multiple apps, then you'll see a single entry on your bill.
    You can upgrade your plan at any time; you'll be charged the higher amount at the start of the next month,
    plus a pro-rated amount for the remaining days of the current month.

</p>
<p class="small">
    To downgrade or cancel, just give us a shout: hello@annex-apps.com
</p>