<ul class="nav navbar-nav navbar-right">

    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

        <li>
            <a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
        </li>

    {% else %}

        <li>
            <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
        </li>

    {% endif %}

</ul>

