{# app/Resources/views/emails/activate.html.twig #}

{% extends 'AnnexTenantBundle::emails/template.html.twig' %}

{% block title %}Sign up{% endblock %}

{% block heading %}Activate your {{ app_name|capitalize }} account{% endblock %}

{% block content %}
    <p>
        Just one more step.<br><br>
        <strong>(Make sure you have installed the {{ app_name|capitalize }} app in your Brightpearl account first!)</strong>
    </p>
    <br><br>
    <p>
        <a href="{{ activationUrl }}">Click here to activate your account</a>
    </p>
{% endblock %}