{# app/Resources/views/emails/activate.html.twig #}

{% extends 'AnnexTenantBundle::emails/template.html.twig' %}

{% block title %}Sign up{% endblock %}

{% block heading %}Your Annex Apps account{% endblock %}

{% block content %}
    <p>
        Just one more step.
    </p>
    <br><br>
    <p>
        <a href="{{ activationUrl }}">Click here to activate your account</a>
    </p>
{% endblock %}